<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.TRANSMIT_IR"/>
    <uses-feature android:name="android.hardware.ConsumerIrManager"/>

    <application
            android:name=".IRApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ir_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity
                android:name="net.irext.ircontrol.ui.activity.MainActivity"
                android:label="@string/title_activity_main"
                android:exported="true"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.CreateActivity"
                android:parentActivityName="net.irext.ircontrol.ui.activity.MainActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.irext.ircontrol.ui.activity.MainActivity"/>
        </activity>

        <activity
                android:name=".ui.activity.ControlActivity"
                android:parentActivityName="net.irext.ircontrol.ui.activity.MainActivity"
                android:theme="@style/AppTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="net.irext.ircontrol.ui.activity.MainActivity"/>
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="net.irext.ircontrol"
            android:enabled="true"
            android:exported="false">
        </provider>

        <meta-data
                android:name="AA_DB_NAME"
                android:value="IRRemote"/>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="5"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="net.irext.ircontrol.bean.RemoteControl"/>

        <meta-data
                android:name="irext_app_key"
                android:value="e2370d4b9a4ebcac6c90f2f29c79573e" />

        <meta-data
            android:name="irext_app_secret"
            android:value="2a52b92f4dbf8310d88f13e083f81ace" />

    </application>

</manifest>